<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="../../index.html">
        <div class="sidebar-brand-icon">
            <img src="../../img/unj.png" width="30" height="30" class="d-inline-block align-top" alt="">
        </div>
        <div class="sidebar-brand-text mx-3">Web Pembelajaran Matematika</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="../../index.html">
            <i class="fas fa-fw fa-home"></i>
            <span>Halaman Utama</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Pilih Materi
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="../materi/bilangan.php">
            <i class="fas fa-circle"></i>
            <span>Bilangan</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../materi/bilbulat.php">
            <i class="fas fa-circle"></i>
            <span>Bilangan Bulat</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../materi/bildesimal.php">
            <i class="fas fa-circle"></i>
            <span>Bilangan Desimal</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../materi/bilganjil.php">
            <i class="fas fa-circle"></i>
            <span>Bilangan Ganjil</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../materi/bilgenap.php">
            <i class="fas fa-circle"></i>
            <span>Bilangan Genap</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../materi/bilkuadrat.php">
            <i class="fas fa-circle"></i>
            <span>Bilangan Kuadrat</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../materi/bilpecahan.php">
            <i class="fas fa-circle"></i>
            <span>Bilangan Pecahan</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../materi/bilprima.php">
            <i class="fas fa-circle"></i>
            <span>Bilangan Prima</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../materi/nilaitempat.php">
            <i class="fas fa-circle"></i>
            <span>Nilai Tempat</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../materi/pembagianbilcacah.php">
            <i class="fas fa-circle"></i>
            <span>Pembagian Bilangan Cacah</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../materi/penguranganbilbul.php">
            <i class="fas fa-circle"></i>
            <span>Pengurangan Bilangan Bulat</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../materi/penguranganbilcacah.php">
            <i class="fas fa-circle"></i>
            <span>Pengurangan Bilangan Cacah</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../materi/penguranganpecahan.php">
            <i class="fas fa-circle"></i>
            <span>Pengurangan Pecahan</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../materi/penjumlahanbilbul.php">
            <i class="fas fa-circle"></i>
            <span>Penjumlahan Bilangan Bulat</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../materi/penjumlahanbilcacah.php">
            <i class="fas fa-circle"></i>
            <span>Penjumlahan Bilangan Cacah</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../materi/penjumlahanpecahan.php">
            <i class="fas fa-circle"></i>
            <span>Penjumlahan Pecahan</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../materi/perkalianbilcacah.php">
            <i class="fas fa-circle"></i>
            <span>Perkalian Bilangan Cacah</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
<!-- End of Sidebar -->