<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="../../index.html">
        <div class="sidebar-brand-icon">
            <img src="../../img/unj.png" width="30" height="30" class="d-inline-block align-top" alt="">
        </div>
        <div class="sidebar-brand-text mx-3">Web Pembelajaran Matematika</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="../../index.html">
            <i class="fas fa-fw fa-home"></i>
            <span>Halaman Utama</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Pilih Materi
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="../materi/balok.php">
            <i class="fas fa-circle"></i>
            <span>Balok</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../materi/belahketupat.php">
            <i class="fas fa-circle"></i>
            <span>Belah Ketupat</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../materi/bola.php">
            <i class="fas fa-circle"></i>
            <span>Bola</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../materi/jajargenjang.php">
            <i class="fas fa-circle"></i>
            <span>Jajar Genjang</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../materi/jaringkubus.php">
            <i class="fas fa-circle"></i>
            <span>Jaring-Jaring Kubus</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../materi/kerucut.php">
            <i class="fas fa-circle"></i>
            <span>Kerucut</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../materi/kubus.php">
            <i class="fas fa-circle"></i>
            <span>Kubus</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../materi/layanglayang.php">
            <i class="fas fa-circle"></i>
            <span>Layang-Layang</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../materi/limas6.php">
            <i class="fas fa-circle"></i>
            <span>Limas Segi Enam</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../materi/lingkaran.php">
            <i class="fas fa-circle"></i>
            <span>Lingkaran</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../materi/persegipanjang.php">
            <i class="fas fa-circle"></i>
            <span>Persegi Panjang</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../materi/persegi.php">
            <i class="fas fa-circle"></i>
            <span>Persegi</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../materi/poligon.php">
            <i class="fas fa-circle"></i>
            <span>Poligon</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../materi/polihedron.php">
            <i class="fas fa-circle"></i>
            <span>Polihedron</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../materi/prisma6.php">
            <i class="fas fa-circle"></i>
            <span>Prisma Segi Enam</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../materi/segitiga.php">
            <i class="fas fa-circle"></i>
            <span>Segitiga</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../materi/simetriputar.php">
            <i class="fas fa-circle"></i>
            <span>Simetri Putar</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../materi/tabung.php">
            <i class="fas fa-circle"></i>
            <span>Tabung</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../materi/trapesium.php">
            <i class="fas fa-circle"></i>
            <span>Trapesium Siku-Siku</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
<!-- End of Sidebar -->