<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="../../index.html">
        <div class="sidebar-brand-icon">
            <img src="../../img/unj.png" width="30" height="30" class="d-inline-block align-top" alt="">
        </div>
        <div class="sidebar-brand-text mx-3">Web Pembelajaran Matematika</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="../../index.html">
            <i class="fas fa-fw fa-home"></i>
            <span>Halaman Utama</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Pilih Materi
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="../materi/diagrambatang.php">
            <i class="fas fa-circle"></i>
            <span>Diagram Batang</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../materi/diagramgaris.php">
            <i class="fas fa-circle"></i>
            <span>Diagram Garis</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../materi/diagramlingkaran.php">
            <i class="fas fa-circle"></i>
            <span>Diagram Lingkaran</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../materi/median.php">
            <i class="fas fa-circle"></i>
            <span>Median</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../materi/modus.php">
            <i class="fas fa-circle"></i>
            <span>Modus</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../materi/rerata.php">
            <i class="fas fa-circle"></i>
            <span>Rerata</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
<!-- End of Sidebar -->