<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="../../index.html">
        <div class="sidebar-brand-icon">
            <img src="../../img/unj.png" width="30" height="30" class="d-inline-block align-top" alt="">
        </div>
        <div class="sidebar-brand-text mx-3">Web Pembelajaran Matematika</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="../../index.html">
            <i class="fas fa-fw fa-home"></i>
            <span>Halaman Utama</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Pilih Materi
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="../materi/berat.php">
            <i class="fas fa-circle"></i>
            <span>Berat</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../materi/debit.php">
            <i class="fas fa-circle"></i>
            <span>Debit</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../materi/kecepatan.php">
            <i class="fas fa-circle"></i>
            <span>Kecepatan</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../materi/keliling.php">
            <i class="fas fa-circle"></i>
            <span>Keliling</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../materi/luas.php">
            <i class="fas fa-circle"></i>
            <span>Luas</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../materi/luaspermukaan.php">
            <i class="fas fa-circle"></i>
            <span>Luas Permukaan</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../materi/panjang.php">
            <i class="fas fa-circle"></i>
            <span>Panjang</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../materi/sudut.php">
            <i class="fas fa-circle"></i>
            <span>Sudut</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../materi/volume.php">
            <i class="fas fa-circle"></i>
            <span>Volume</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../materi/waktu.php">
            <i class="fas fa-circle"></i>
            <span>Waktu</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
<!-- End of Sidebar -->